# MacOS
.DS_Store

# Windows
Thumbs.db

# File-based project format
*.iws

# IntelliJ
.idea
/out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# logs
*.log*

# databases
*.db

# configs
*.cfg
/*.json

# generators
*.bat

# Pyenv
**/.python-version

# PyInstaller
build/
dist/
*.manifest
*.spec

# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Venv
venv/
